.Container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
}
.Header{
    display: flex;
    position: relative;
    height: 480px;
    width: 800px;
}
.Logo-name{
    display: flex;
    //justify-content: left;
    position: relative;
    left: 20px;
}
.secondhead{
    display: flex;
    position: relative;
    left: 20px;
    height: 50px;
}
.Main{
    // display: flex;
    //justify-content: center;
    //align-items: center;
    justify-content: space-between;
    position: relative;
    // height: 10px;
    left: 20px;
    //width: 20px;
}
.SecMain{
    display: flex;
    //justify-content: left;
    position: relative;
     columns: 400px;
    position: relative;
     width: 3000px;
    //left: 20px;
    
}
.demo{
    display: flex;
    position: relative;
    //left: 20px;
    bottom: 20px;
}

.ThirdMain{
    display: flex;
    justify-content: space-between ;
    
    position: relative;
    width: 450px;
}
.b_class{
    display: flex;
    position: relative;
    //left: 20px;
    bottom: 20px;
}
.checkbox{
    display: flex;
    position: relative;
    //left: 20px;
}
.c_class{
    display: flex;
    //flex-direction: column;
   // position: relative;

}
.button{
    display: flex;
    position: relative;
   // left: 20px;
}
.lname{
    
    right:-100px;
}
.next{
    display: flex;
    position: relative;
    right: -250px;
    bottom: 20px;
}
.myfirst{
    padding-right: 20px;
}
.name{
    position: relative;
    // display: flex;
    justify-content: space-between
    // justify-content: space-between;
}
.image{
    display: flex;
    position: relative;
    bottom: 400px;
    right: -500px;
}
.hint{
    display: flex;
    position: relative;
    bottom: 200px;
    left: 240px;
}
@media screen and (max-width: 746px){
    .image{
        display: none;
    }
    .hint{
        display: none;
    }
    .Header{
        display: flex;
        position: relative;
        height: 500px;
        width: 380px;
        
    }
    .Container{
        display: flex;
        position: relative;
        top: 40px;
    }
    .secondhead{
        font-size: medium;
    }
    .Logo-name{
        position: relative;
        right: 250px;
    }
    .inputfirst{
        position: relative;
        right: 100px;
    }
    // .name{
    //     position: relative;
    //     right: -60px;
    // }
    .ThirdMain{
        display: flex;
        position: relative;
        right: -20px;
        width:310px;
        border-width: 70px;
        
    }
    .name{
        display: flex;
        position: relative;
        width: 300px;
        right:-20px;

        
    }
    .Main{
         position: relative;
         
    }
    .SecMain{
        display: flex;
        position: relative;
        right: -20px;
        width:500px;
        
    }
    .demo{
        font-size: small;
    }
    .next{
        position: relative;
        left:137px;
    }
    .b_class{
        font-size: x-small;
        position: relative;
        border-top: 20px;
        right: -20px;
    }
    .demo{
        position: relative;
        right:-20px;
    }
   
}