<!-- <this is register html page> -->
<div class="Container">
  <mat-card class="Header">
    <div class="Logo-name">
      <h1 class="funlogo">
          <span style="color: blue;">F</span>
          <span style="color: red;">U</span>
          <span style="color: yellow;">N</span>
          <span style="color: blue;">D</span>
          <span style="color: green;">O</span>
          <span style="color: red;">O</span>
      </h1>
    </div>
    <div>
      <h1 class="secondhead"> Create your Fundoo Account</h1>
    </div>
      <form class="Main" [formGroup]="Registerform" (ngSubmit)="RegisterinSumbit()">
        <div class="name">
          <mat-form-field class="myfirst" appearance="outline">
              <mat-label class>First Name</mat-label>
              <input  matInput placeholder="Firstname" formControlName="firstName">
              <mat-error>add valid firstname</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Lastname" formControlName="lastName">
                <mat-error>add valid lastname</mat-error>
            </mat-form-field>
        </div>
        <div class="SecMain" >
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter your Email" formControlName="emailId">
              <mat-error>enter valid email</mat-error>
            </mat-form-field>   
        </div>
        <div class="demo">
        <a class="ref" href="a_class" >Use my current email address instead</a>
        </div>
        <div class="ThirdMain">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input  type="password"  matInput [type]="showpassword ? 'text':'password'" placeholder="password" formControlName="password">
              <mat-error>enter valid password</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <!-- <input matInput placeholder="Confirm Password"> -->
                <input type="confirm-password" matInput [type]="showpassword ? 'text':'password'" placeholder="Confirm Password">
            </mat-form-field>
        </div>
        <div>
        <mat-hint class="b_class">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint> 
        </div> 
       <div class="checkbox">              
       <mat-checkbox matSuffix (click)="togglepasswordvisibility()" color="primary">Show password</mat-checkbox>                 
       </div>
      <div class="c_class">
      <button class="button" mat-button color="primary">Sign in instead </button>
      <button class="next" mat-raised-button color="primary">Next</button>
      </div>
      <div class="image">
      <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="" width="244" height="244" class="j9NuTc TrZEUc">
      </div>
      <div class="hint">
      <mat-hint class="hint text">One account All  FundooNote working for you</mat-hint> 
      </div>
      </form>
  </mat-card>
</div>