mat-sidenav-container{
    height: calc(205vh - 115vh);
//  background-color: aliceblue;
}
mat-sidenav{
    width: 250px;
    background-color: white;
}    
.searchclass{
    position: relative;
    right: -200px;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 40px;
    right:-80px;
    border-color: white;
}
.searchbutton{
    position: relative;
    right: -250px;
}
.refresh{
    position: relative;
    right: -150px;
}
.viewagenda{
    position: relative;
    right: -150px;
    
}
.settingbut{
    position: relative;
    right: -150px;
}
.routerclass{
    position: relative;
    width: 1400px;

}
.menubutton{
    position: relative;
    right: -400px;
}
.appbutton{
    position: relative;
    right: -230px;
}
.accbutton{
    position: relative;
    right: -230px;
    transform: scale(.6);
    top:1px;
}
.Remindersnav{
    position: relative;
    right: -60px;
    bottom: 5px;
}
.demo:hover{
    position: relative;
    right: -30px;
    // background-color: yellow;
}