.notescontainer{
display: flex;
flex-direction: column;

width: 280px;
height: 150px;
position: relative;
right: -100px;
margin-top: 60px ;
margin-bottom: 20px;
margin-right: 20px;
}
.allbutton{
    position: relative;
    transform:scale(0.8);
    bottom: -40px;
    left: 20px;

}
.card{
    display: flex;
    flex-direction: column;
    display: table-row;

}

.titlecls{
display: flex;
position: relative;
right:-20px;
margin-bottom: 20px;}