<mat-card>
    <form [formGroup]="register" (ngSubmit)="submit()">
    <h1>register page</h1>
    <mat-form-field >
              <input  matInput placeholder="Firstname" formControlName="firstName">
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="lastname" formControlName="lastName">
    </mat-form-field>
   <mat-form-field >
    <input matInput placeholder="email" formControlName="emailId">
   </mat-form-field>
   <mat-form-field >
    <input matInput placeholder="password" formControlName="password">
   </mat-form-field>
    <button> next</button>
</form>
</mat-card>